@charset "utf-8";
/* CSS Document */

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html body {
	overflow-x: hidden;
	height: 100%
	width: 100%;
	margin:0;
	padding:0;
	padding-top:50px;
	background: url(../img/bg.jpg) center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	position:relative;


}

.ifweb{
	margin-top: 20px;
}

.flash{
	animation: blink 2s;
    animation-iteration-count: infinite;
}

/*Main*/
.main{
	height: 100vh;
	width: 100%;
	color: white;
}
.main h1{
	font-size:50px;
	font-weight:900;
	padding-top:120px;
	text-shadow: 5px 1px 5px black;
	animation-duration: 1;
}

.main h4{
	text-shadow: 1px 1px 5px black;
	animation-duration: 1;
}

.main-btn{
	text-align: center;
	margin-top: 200px;
}

.main .arrow{
	width: 5%;
}

.page-icon{
	float:left;
}

/*sidebar*/


.section-sidebar {
	display: none;
	height: auto;
	margin-right: 900px;
	
}
.sidebars{
	list-style-type: none;
	border-radius: 100px;
	float: right;
	text-align: right;
	position: fixed;
	z-index: 1000;
}

.sidebars li{
	border-radius: 50px;
	margin: 10px 0;
	padding-right: 30px;
	padding-left: 10px;
	background-color: rgba(254,252,255,0.3);
}

.sidebars a{
	font-size: 15px;
	display: block;
	color: white;
	text-align: left;
	text-decoration: none;
	text-shadow: 1px 1px 2px grey;
	animation-duration: 2;
}

.sidebars a:focus{
	text-decoration: none;
}

.sidebars a:hover{
	text-decoration: none;
}

/*top-navigator*/
.navigator{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: none;
	float: right;
}

.navigator li{
	float: right;
	display: inline-block;
}

.navigator a{
	font-size: 20px;
	display: inline-block;
	color: white;
	text-align: center;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: 1px 1px 2px grey;
	animation-duration: 2;
}

.navigator a:hover{
	text-decoration: none;
	color: grey;
	opacity: 0.8px;
}

.navigator a:active{
	animation-duration: 1;
}

/*about*/
.section-about{
	height: auto;
	width: 100%;
	padding-top: 30px;
	background: rgba(53,47,47,0.70);
	text-decoration: none;
	text-shadow: none;
	color: white;
}

.section-about h6{
	margin-bottom: 70px;
}

.section-about ul{
	list-style-type: none;
}

.section-about li{
	margin: 10px 0;
}

.section-about a{
	text-decoration: none;
	text-decoration-color: white;
}

.section-works{
	height: auto;
	width: 100%;
	background-color:rgba(191,204,204,0.5);
	color: black;
	padding-bottom: 50px;
}


.wordpad{
	z-index: 1;
	heght: auto;
	width: auto;
	background: rgba(136,176,195,0.60);
	filter:blur(0.1px);
	padding: 0 50px 50px 50px;
	color:white;
	border-radius: 15px;
	box-shadow: 2px 2px 2px 2px grey;
	
}

.content{
	filter:blur(none);
}

.section-works .row{
	margin: 10px 0;
}

.section-works img{
	margin-top: 40px;
}

/*Contact*/
#contact-info{
	margin: 30px;
	paddding: 10px;
    	background-color: #ffffff;
   	box-shadow: 5px 10px #888888;
    	opacity: 0.6;

	font-size: 150%
}


.section-contact{
	height: auto;
	padding: 200px 0;
	text-align: left;
}

.section-contact .row{
	margin: 20px 0px;
}

.section-contact h1{
	text-align: center;
	color: white;
}

label{
	color: white;
}
.section-contact .input_area{
	width: 100%;
	border-radius: 4px;
	background: white;
}

.section-contact textarea{
	width: auto;
	resize: none;
	height: 100px;
}


/*Footer*/

.section-footer{
	height: auto;
	width: 100%;
	background-color: rgba(35,35,35,1.00);
	text-align: center;
	height: 100px;
}

.section .row{
	margin top: 50%;
}

.section-footer ul{
	float: right;
}

.section-footer li{
	margin: 0 10px;
	display: inline-block;
}

@media only screen and (max-width: 500px) {
    body {
        width: 500px;
    }
}

